*{
    margin: 0;
}
body{
    background: url(https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcS2WvE5gf4v58FuZ5MY-HZ5QrYgDwF8LvlLFP7JAQS9A2hNVBryKX3s19gCKBtw8jNS3uKnmsWr7lUNcwo);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    position: absolute;
    left: 20%;
    top: 25%;
    transform: translateX(-50%);
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: green;
}
#img{
    position: absolute;
    left: 15%;
}
#coracao01{
    position: absolute;
    left: 280%;
    top: -1000%;
    transform: rotate(45deg);
}
#coracao02{
    position: absolute;
    left: 220%;
    top: -550%;
    transform: rotate(20deg);
    width: 300px;
    height: 300px;
}
#fotomitu{
    position: absolute;
    left: 290%;
    top: 700%;
    border-radius: 80px;
    width: 300px;
    height: 160px;
}
#fotomitu02{
    position: absolute;
    left: 340%;
    top: 500%;
    border-radius: 80px;
    width: 300px;
    height: 160px;
    box-shadow:-8px 7px 5px -4px rgb(0, 65, 241);
}