*{
    margin: 0;
}
body{
    background-color: #3a0046;
}
/* header */
#headerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #141414;
    height: 50px;
}

.logo {
    position: relative;
    left: 30%;
}

#logoHeader {
    text-decoration: none;
    color: #ffffff;
    font-family: 'fontartifika';
}

#voltar {
    border: none;
    background: #ffffff;
    border-radius: 20px;
    transition: 2s;
}

#voltar:hover {
    background: black;
    color: #d400ff;
    box-shadow: #d400ff 0px 0px 5px 0px;
}
/* header */
/* main */
/* img */
#imgPanda{
    position: relative;
    left: 20%;
    z-index: 1;
    max-width: 200px;
}
.img{
    position: relative;
    top: 90%;
}
/* img */
/* linkes  text*/
span#redesociaisTable{
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translateX(-60%);
    background-color: #d400ff;
    display: inline-flex;
    border-radius: 33px;
}
#textRedessociais{
    position: relative;
    margin-top: 3%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 300px;
    padding: 20px;
    /* colocar uma fonte nesse texto */
    background-color: #141414;
    color: #ffffff;
    border-radius: 30px;
}

img.iconRedessociais{
    /* nãp precisa de termina a altura, ele proprio ajusta isso junto da largura */
    width: 100px;
    padding: 20px;
    box-shadow: 1px 4px 1px 0px #0f0f0f;
    border-radius: 30px;
    transition: 1s;
}
img.iconRedessociais:hover{
   background-color: #c5c5c5;
}
/* linkes */
/* main */