*{
    margin: 0;
}
body{
    background-image: url("../assents/jpeg/floresta-roxa-de-fantasia-com-um-caminho-no-meio_900706-10053-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* MAIN */
.infor{
    position: relative;
    margin-left: 50%;
    margin-top: 15%;
    transform: translateX(-50%);
    padding: 30px;
    backdrop-filter: blur(100px);
    max-width: 200px;
    top: 20%;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
}
#btn{
    width: 200px;
    position: relative;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    transition: 1s;
}
#btn:hover{
    color: #d400ff;
    background-color: black;
    box-shadow: 0px 0px 10px 1px #d400ff;
    border-radius: 30px;
}
.textLogin{
    display: flex;
    justify-content: center;
}
.inputLogin{
    border: none;
    color: #000000;
    border-radius: 10px;
    padding-left: 7px;
}
.inforLogin:hover{
    border: none;
}

/* FOOTER */
.footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    position: fixed;
    top: 90%;
transform: translateY(-90%);
}