@font-face {
    font-family: 'fontEscrita01';
    src: url("../assents//fonts/rustic_barn/Rustic\ Barn.ttf");
}
*{
    margin: 0;
    color: #000000;
}
/*header*/
.header{
    display: flex;
    text-align: center;
    align-items: center;
    color: ;
}
.logo{
    font-family: fontEscrita01;
    font-size: 30px;
    display: flex;
}
#imagemLogo{
    position: relative;
    top: -10px;
    width: 100px;
    height: 80px;
}
.linkspags{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.link{
    text-decoration: none;
    align-items: center;
    transition: 1s;
}
.link:hover{
    color: red;
    position: relative;
    top: -5px;
    flex: 4;
    font-size: 20px;
}

/*header*/