@font-face {
    font-family: 'fontEscrita01';
    src: url("../assents//fonts/rustic_barn/Rustic\ Barn.ttf");
}

* {
    margin: 0;
}
/*header*/
.header {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #000000;
    height: 55px;
}

.logo {
    font-family: fontEscrita01;
    font-size: 15px;
    display: flex;
    color: #ffffff;
    position: relative;
    top: 15px;
}

#imagemLogo {
    position: relative;
    top: -15px;
    width: 80px;
    height: 60px;
}

.linkspags {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    text-decoration: none;
    align-items: center;
    transition: 0.5s;
    color: #ffffff;
}

.link:hover {
    color: #d400ff;
    position: relative;
    top: -5px;
    flex: 4;
    font-size: 20px;
}
/*header*/
/*main*/
#imagemTransicao {
    width: 100%;
    height: 70vh;
}
.autor{
    background-color: #000000;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
    border-radius: 30px;
    transition: 2s;
}
.autor:hover{
   box-shadow: 0px 0px 10px 1px #d400ff;
}
#imgAutor{
    width: 300px;
    padding: 100px;
}
.name{
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -60px;
}
#nomeUser_real{
    font-style: italic;
    color: #ebebeb;
}
#nomeUser_real:hover{
    color: #ffffff;
    text-shadow: 1px 1px 2px #d400ff;
}
/*modal*/
/* modal externo */
/* modal de fora  */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #000000, 0.4;
}
/* modal interno */
/* modal de dentro */
.conteinerModal{
    background-color: #ffffff;
    color: #000000;
    margin: auto;
    padding: 20px;
    box-shadow: #d400ff;
    max-width: 80%;
}

/*melhorar o "X" é deixa com uma animaçãozinha de leves pai*/
.fechar{
    color: #d400ff;
    float: right;
    font-size: 30px;
    transition: 2s;
}
.fechar:focus, .fechar:hover{
    color: #ffffff;
    text-shadow: 1px 1px 1px #d400ff;
    cursor: pointer;
}
/*modal*/
/*main*/
